/* general edits */

a {
  font-family: "courier-new", monospace;
  color: #ebbd52;
}

strong {
  color: #bfbc9b;
}

/* about this project page */
.about-this-project {
  font-family: "Times New Roman", serif;
  font-size: 20px;
}

.about-header {
  text-align: center;
  font-family: "Garamond", serif;
  font-size: 40px;
  font-weight: bold;
  color: #d0b232;
}
.about-tagline {
  text-align: center;
  font-family: "Garamond", serif;
  font-size: 30px;
  font-weight: bold;
  color: #ddc975;
}
.about-description {
  text-align: justify;
}
.creator-link {
  font-family: "courier-new", monospace;
  font-weight: bold;
  color: #73bf8b;
}
.contributor-link {
  font-family: "courier-new", monospace;
  font-weight: bold;
  color: #e0d88b
}
.about-end {
  text-align: center;
  font-family: "Garamond", serif;
}

.divider {
  text-align: center;
  color: #ebbd52;
}
.inspirations {
  text-align: center;
}
.inspo-titles {
  font-weight: bold;
  color: #ddc975;
  font-size: 25px;
}

  
