<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="Link to Discord">
          HEIWA: Golden Fate
        </a>
      </h1>
      <p class="sidebar-about-descr"><i>A myth can be rewritten. A whisper, a reality - fate may be persuaded.</i></p>
      <h2>｡･::･ﾟ★,｡･::･ﾟ☆</h2>
      <p class="sidebar-about-descr">Full documentation, provided and kept up-to-date by TOXINYX [Creator].</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" style="text-align:center;" href="{{ site.baseurl }}">About This Project</a>

      <p class="sidebar-div-one"><i>Heiwa</i></p>
      <a class="sidebar-link-one" href="map.html">Map</a>
      <p></p>
      <a class="sidebar-link-one" href="life.html">Life Inside</a>
      <a class="sidebar-link-three" href="notablelocations.html">Notable Locations</a>
      
      <p class="sidebar-div-one"><i>Heiwan History</i></p>
      <a class="sidebar-link-one" href="origins.html">[BES 492 - BES 119] Heiwan Formation/Independence</a>
      <a class="sidebar-link-two" href="epochshift.html">[BES 1 - AES 3] Epoch Shift</a>
      
      <span class="sidebar-nav-item">LAST UPDATED: 22/08/2024</span>
    </nav>

    <p class="date-time">&copy; {{ site.time | date: '%Y' }}. <a href="Link to Credits">Contributors</a></p>
  </div>
</div>
