<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="Link to Discord">
          HEIWA: Golden Fate
        </a>
      </h1>
      <p class="sidebar-about-descr">Full documentation, provided and kept up-to-date by TOXINYX [Creator].</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">About This Project</a>

      <p class="sidebar-div-one"><i>Heiwa</i></p>
      <a class="sidebar-link-one" href="layout.html">Island Layouts</a>
      
      <span class="sidebar-nav-item">LAST UPDATED: 20/08/2024</span>
    </nav>

    <p class="date-time">&copy; {{ site.time | date: '%Y' }}. <a href="Link to Credits">Contributors</a></p>
  </div>
</div>
